:root {
  --dark-main: #9cb6e9;
  --dark-accent: #8ba1ef;
  --darker-accent: #3878e7;
  --light-accent: #b8c1e6;
  --light-main: #f8f7f2;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Architects Daughter', cursive;
}
html, body {
  background: var(--darker-accent);
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.btn {
  background: none;
  border: 2px solid #fff;
  padding: 8px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}
.btn:hover {
  background: var(--dark-accent);
  color: #fff;
}
h1 {
  text-align: center;
  margin: 10px auto 20px;
  font-size: 3rem;
  
}
main {
  background: var(--light-main);
  border-radius: 3%;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 8% 4%;
}
.options {
  background: var(--darker-accent);
  border-radius: 3%;
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1.4rem;
}
.options p {
  font-size: 1.6rem;
  text-align: center;
}
.table-options {
  text-align: center;
}
.radio-container {
  width: 375px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}
.radio-btn-left {
  display: inline;
  float: left;
}
.radio-btn-right {
  display: inline;
  
}
.begin {
  display: block;
  margin: 40px auto 5px;
}
.practice {
  background: var(--darker-accent);
  border-radius: 3%;
  position: relative;
  width: 90%;
  height: auto;
  margin: 5% auto 0;
  padding: 20px;
  font-size: 1.5rem
}
.timer {
  position: absolute;
  top: 0;
  right: 20px;
}
.count {
  position: absolute;
  top: 0;
  left: 20px;
}
.equation {
  text-align: center;
  font-size: 3rem;
  margin-top: 35px;
}
.answer-input {
  width: auto;
  text-align: center;
}
.answer {
  width: 60px;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  font-size: 1rem;
}
.again {
  border: 2px solid black;
  display: block;
  margin: 15px auto 0;
}
.feedback {
  text-align: center;
  margin: 5px auto 5px;
}
.hide {
  display: none;
}
